button {
  cursor: pointer;
}

button.icon-smaller.no-round-icon .icon > * {
  border-radius: 0;
}

.legend-layer-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 8px #888;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  left: 100px;
  top: 20px;
  max-width: 300px;
  z-index: 1;
  cursor: move;
  opacity: 0.9;
}

.legend-layer-header {
  margin: 10px 0 5px 0;
  padding: 0;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}

.legend-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  fill: #4a4a4a;
  background-color: #eeeeee;
  content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 110 110" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 5L105 105M5 105L105 5" stroke="rgb(74, 74, 74)" stroke-width="20" stroke-linecap="round"/></svg>');
  opacity: 0.9;
  cursor: pointer;
  margin: 2px;
  height: 10px;
  padding: 10px;
}

.legend-list {
  display: block;
  padding: 0 !important;
  margin: 0 !important;
  cursor: default;
  border-radius: 5px;

  max-height: 200px;
  overflow-y: auto;
}

.legend-list-item {
  display: flex;
  margin: 0 !important;
  padding: 10px 15px !important;
  cursor: pointer;
}

.legend-list-item:hover {
  background-color: #eeeeee;
}

.legend-list-item:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ol-swipe {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-touch-action: none;
  touch-action: none;
}

.ol-swipe.vertical {
  bottom: 30px;
  left: 50%;
}

.ol-swipe.horizontal {
  top: 50%;
  right: 0px;
}

.ol-swipe:before {
  content: '';
  position: absolute;
  top: -5000px;
  bottom: -5000px;
  left: 50%;
  width: 4px;
  background: #fff;
  z-index: -1;
  -webkit-transform: translate(-2px, 0);
  transform: translate(-2px, 0);
}
.ol-swipe.horizontal:before {
  left: -5000px;
  right: -5000px;
  top: 50%;
  bottom: auto;
  width: auto;
  height: 4px;
}

.ol-swipe.ol-unselectable.ol-control {
  background-color: transparent;
  border-radius: 25px;
}

div.ol-swipe.ol-unselectable.ol-control button {
  background-color: darkblue;
  cursor: move;
  opacity: 0.75;
  border-radius: 25px;
}

// @media only screen and (max-width: 1024px) {
/*
.o-map .ol-viewport .ol-unselectable {
  box-shadow: none;
  position: relative;
}
*/
// }

// @media only screen and (max-width: 1024px) {
.o-map .ol-viewport .ol-unselectable button {
  // position: absolute;
  // right: 0;
  height: 3em;
  width: 3em;
  padding: 5px;
  font-size: inherit;
}
// }

.o-map .ol-viewport .ol-unselectable button:after {
  content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M9.4 16.6 4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0 4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"></path></svg>');
}
